[submodule "containers"]
	path = containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
[submodule "sourcedata/harrypotter"]
	path = sourcedata/harrypotter
	url = git@github.com:courtois-neuromod/harrypotter.git
	datalad-id = d58c7aa5-3e9f-48bf-9cb9-d55057f460fd
